.messageList {
    background: #393838;
    color: darkgrey;
    padding: 10px;
}

.messagePart {
    background: #393838;
    border: darkgrey 1px solid;
    border-radius: 2px;
    color: darkgrey;
    padding: 10px;
    margin: 10px;

}